nav a {
    color: #616161 !important;
}

.ui.dropdown .text {
    display: block;
    text-align: center;
}

.ui.selection.dropdown .menu {
    max-height: 33.33rem;
}

.sp-red {
    background-color: #FF5959 !important;
    border-color: #FF5959 !important;
    color: #ffffff !important;
}

.light-bg {
    background: #FAFAFA !important;
}

#saas-grid .meta {
    color: #586069 !important;
    /*color: blue !important;*/
}