<!doctype html>
<html>

<head>
    <title>SaasProfile - Find interesting &amp; useful software tools</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="/css/semantic.min.css" media="screen,projection" />
    <!-- <link type="text/css" rel="stylesheet" href="/css/main.css" media="screen,projection" /> -->
    <link type="text/css" rel="stylesheet" href="/css/saasprofile.css" media="screen,projection" />

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>

<body class="">
    
    <div class="ui borderless main menu light-bg light-bg-border segment">
        <div class="ui text container">
            <div href="#" class="header item">
                <img class="logo" src="logo/saasprofile-128.png"> SaaS Profile
            </div>
            <div class="right menu">
                <a href="#" class="item">Feedback</a>
                <a href="#" class="item">About</a>
            </div>
        </div>
        <div id="progress-bar" class="ui bottom attached brown inverted progress" data-percent="33">
            <div class="bar"></div>
        </div>
    </div>

    <div id="sp-error-vue" class="" v-if="error">
        <transition name="fade" v-if="error">
            <div v-html="error_msg" class="message center aligned text relaxed container" v-bind:class="{ red: error, ui: error }">
            </div>
        </transition>
    </div>

    <div class="ui text center aligned container segment relaxed grid">

        <div id="saas-need-vue" class="ui container center aligned row">
            <div class="sixteen wide column">
                <div id="saas-need-dropdown" class="ui fluid selection dropdown massive input text center">
                    <i class="dropdown icon"></i>
                    <div class="default text">Select your need</div>
                    <div class="menu">
                        <div class="item" v-for="need in saasNeed" v-bind:data-value="need.id">
                            <div class="ui segment light-bg light-bg-border">
                                <div class="section">
                                    {{ need.text }}
                                </div>
                                <div class="ui divider light-bg-border"></div>
                                <div class="section ui labels">
                                    <div v-for="tag in get_tags_for_need( need )" class="ui sp-red label">
                                        <i v-bind:class="get_tag_icons( tag )"></i> {{ tag.name }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui container relaxed grid row">
            <div class="sixteen wide column center aligned light-text">or</div>
        </div>
        
        <div id="tags-list-vue" class="ui container center aligned row">

            <div id="" class="left ui rail aligned container">
                <div id="" class="ui sticky segment light-bg light-bg-border red-text">
                    <i class="info circle icon"></i> {{ count_msg() }}
                </div>
            </div>

            <div class="sixteen wide column">
                <div id="tag-list-dropdown" class="ui fluid selection dropdown multiple">
                    <input type="hidden" name="tags" v-on:change="handleChange" v-model="selected_tags">
                    <i class="dropdown icon"></i>
                    <div class="default text">Select Tags</div>
                    
                    <div class="menu">
                        <div class="ui icon search input">
                            <i class="search icon"></i>
                            <input type="text" placeholder="Search tags...">
                        </div>
                        <div class="divider"></div>

                        <div class="item" v-for="tag in tags" v-bind:data-value="tag.id" v-bind:data-text="tag.name">
                            <i v-bind:class="get_tag_icons( tag )"></i> {{ tag.name }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui divider"></div>

        <div class="ui container row">
            <div class="eight wide column left aligned">
                <button class="mini ui basic disabled button">
                    <i class="world icon"></i>
                    Select by geography
                    <br />
                    (coming soon)
                </button>
            </div>
            <div class="eight wide column right aligned">
                <button id="clear-filters" class="mini ui basic button">
                    <i class="icon remove"></i>
                    clear filters 
                </button>
            </div>
        </div>

    </div>

    <div id="saas-list-vue" class="ui text center aligned container relaxed grid">

        <div id="saas-grid" class="ui container row grid segment blurring">

            <div class="ui inverted dimmer"></div>

            <div id="" class="left ui rail aligned container">
                <div id="saas-count" class="ui sticky segment light-bg light-bg-border red-text">
                    <i class="info circle icon"></i> {{ count_msg() }}
                </div>
            </div>        

            <div class="ui stackable cards row">
                <a class="ui centered card" v-for="saas in saas_list" v-bind:href="saas.url" target="_blank">
                    <div class="content light-grey-bg">
                        <img class="left floated mini ui image" v-bind:src="get_saas_logo(saas)">
                        <div class="header">
                            {{saas.name}}
                        </div>
                        <div class="meta">
                            {{saas.description}}
                        </div>
                        <span v-if="saas.interesting" class="ui right yellow corner label">
                            <i class="star icon"></i>
                        </span>
                    </div>
                    <div class="content">
                        <div class="description left aligned">
                            <ol class="ui list">
                                <li value="*" v-for="i in saas.info">{{i}}</li>
                            </ol>
                        </div>
                    </div>
                    <div class="extra content ui labels light-grey-bg">
                        <div v-for="tag in get_tags_for_saas_list( saas )" v-bind:class="get_tag_class(tag)">
                            <i v-bind:class="get_tag_icons( tag )"></i> {{ tag.name }}
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/js/lodash.min.js"></script>
    <script type="text/javascript" src="js/vue.min.js"></script>
    <script type="text/javascript" src="/js/semantic.min.js"></script>
    <!-- <script type="text/javascript" src="js/main.js"></script> -->
    <script>
        // manually set the version if we want to bust the cache
        var VERSION = 0.11; 

        var script = document.createElement('script');
        script.src = 'js/main.js?v=' + VERSION;
        document.write(script.outerHTML);
    </script>
</body>

</html>
