@import "_colors";

nav a {
    color: #616161 !important;
}

.ui.dropdown {
    .text {
        display: block;
        text-align: center;
    }
}

.ui.selection.dropdown .menu {
    max-height: 33.33rem;
}

.sp-red {
    background-color: $sp_red !important;
    border-color: $sp_red !important;
    color: #ffffff !important;
}

.light-bg {
    background: $light_bg_color !important;
}

.light-text {
    color: $light_text_color !important;
}

#saas-grid .meta {
    color: $meta_color !important;
}