@import "_colors";

nav a {
    color: #616161 !important;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}

.ui.dropdown {
    .text {
        display: block;
        text-align: center;
    }
}

.ui.selection.dropdown .menu {
    max-height: 33.33rem;
}

.sp-red {
    background-color: $sp_red !important;
    border-color: $sp_red !important;
    color: #ffffff !important;
}

.light-bg {
    background: $light_bg_color !important;
}

.light-grey-bg {
    background: $light_grey_bg !important;
}

.light-bg-border {
    border: thin solid $light_bg_border !important;
    box-shadow: 0 1px 2px 0 rgba(255, 189, 189, .15) !important;
}

.light-text {
    color: $light_text_color !important;
}

.red-text {
    color: $sp_red !important;
}

#tag-list-dropdown {
    .ui.label {
        // background-color: #41b2f4 !important;
        // color: white !important;
        background-color: $sp_yellow !important;
        color: $sp_red !important;
        border: thin solid $sp_red;
    }
}

#saas-grid {
    
    .meta {
        color: $meta_color !important;    
    }

    .selected.sp-red {
        // background-color: #41b2f4 !important;
        // color: white !important;
        background-color: $sp_yellow !important;
        color: $sp_red !important;
        border: thin solid $sp_red;
    }    
    
    .interesting {
        .star.icon {
            color: white !important;
            opacity: 1 !important;
            &:hover {
                color: inherit !important;
            }
        }
    }

}

.footer {
    padding: 4em 0em 4em 0em !important;
    margin-top: 7em !important;
}