@import "_colors";

nav a {
    color: #616161 !important;
}



.ui.dropdown {
    .text {
        display: block;
        text-align: center;
    }
}

.ui.selection.dropdown .menu {
    max-height: 33.33rem;
}

.sp-red {
    background-color: $sp_red !important;
    border-color: $sp_red !important;
    color: #ffffff !important;
}

.light-bg {
    background: $light_bg_color !important;
}

.light-text {
    color: $light_text_color !important;
}

#tag-list-dropdown {
    .ui.label {
        background-color: #41b2f4 !important;
        color: white !important;
    }
}

#saas-grid {
    
    .meta {
        color: $meta_color !important;    
    }

    .selected.sp-red {
        background-color: #41b2f4 !important;
        color: white !important;
    }    
    
}